<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <header th:replace = "fragments/fragment-header :: cabecera">
                <!--  directorio/nombreFichero  ::  nombre del th "del fragmento"-->

        <h1 th:text="'¡Bienvenido a la tienda ' + ${nombre} + '!'"></h1>

    </header>
    
    <!--String nombre, String material, Double precio, Double peso, String color-->

    <h1 th:text = "'Información del producto ' + ${producto.nombre}"></h1>

    <p th:text = "'Id: ' + ${producto.id}"></p>
    <p th:text = "'Material: ' + ${producto.material}"></p>
    <p th:text = "'Precio: ' + ${producto.precio}"></p>
    <p th:text = "'Peso: ' + ${producto.peso}"></p>
    <p th:text = "'Color: ' + ${producto.color}"></p>


</body>
</html>