<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer th:fragment="testimonials"> <!--Crea un fragmento con todo el footer-->

        <h1 >testimonials</h1>
        <p>Testimonio 1: <span th:text="#{testimonio.1}"></span></p>
        <p>Testimonio 2: <span th:text="#{testimonio.2}"></span></p>
        <p>Testimonio 3: <span th:text="#{testimonio.3}"></span></p>
        <p>Testimonio 4: <span th:text="#{testimonio.4}"></span></p>
        <p>Testimonio 5: <span th:text="#{testimonio.5}"></span></p>
        <p>Testimonio 6: <span th:text="#{testimonio.6}"></span></p>
        <p>Testimonio 7: <span th:text="#{testimonio.7}"></span></p>
        <p>Testimonio 8: <span th:text="#{testimonio.8}"></span></p>
        <p>Testimonio 9: <span th:text="#{testimonio.9}"></span></p>
        <p>Testimonio 10: <span th:text="#{testimonio.10}"></span></p>
    </footer>

</body>
</html>