<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer th:fragment="testimonials"> <!--Crea un fragmento con todo el footer-->

        <h1 >testimonials</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt asperiores harum similique nemo. Blanditiis voluptas qui cumque ut fuga exercitationem adipisci non eius, corrupti aut itaque iste similique laborum deserunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolorum, nobis repellendus dolor nostrum inventore saepe maiores voluptatibus repudiandae iusto modi optio cupiditate fuga, error temporibus, accusamus ullam! Eaque, doloremque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate voluptas tempora fuga amet dicta doloremque atque qui unde quia iste repellendus quam delectus ipsam maxime commodi alias ullam, laudantium velit.</p>
    </footer>

</body>
</html>